@font-face {
    font-family: 'Brittany Signature';
    src: url('BrittanySignatureRegular.woff2') format('woff2'),
        url('BrittanySignatureRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

